@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=STIX+Two+Text:wght@700&family=Space+Grotesk:wght@700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'STIX Two Text', serif;
}

.wrapper {
    background-image: linear-gradient(to bottom right, white, hsl(210, 4%, 67%));
    background-repeat: no-repeat;
    height: 100vh;
}
main {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#zuri {
    width: 70px;
    height: 70px;
    margin-left: 30px;
    margin-bottom: 20px;
}

h1 {
    color: hsl(210, 4%, 67%);
    font-size: 30px;
}
span, p, li {
  font-family: 'STIX Two Text', serif;
}
.imgProfile {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

img {
    width:4.5rem;
    height:4.5rem;
    border-radius: 50%;
}
#name {
    margin-top: 1rem;
    color: #000;
}

#role {
    margin-top: 0.5rem;
    color: hsl(210, 4%, 67%);
}

.info {
    display:flex;
    margin-top: 2.5rem;
    min-width: 3rem;

}

.line {
    border: solid 1px hsl(210, 4%, 67%);;
}
.firsthalf {
    min-width: 4rem;
    display: flex;
    flex-direction: column;
}
.secondhalf {
    display: flex;
    flex-direction: column;
    margin-left:30px;
}
ul {
    list-style-type: none;
}

.profile {
    max-width: 14rem;
    min-width: 2rem;
}
.infoHead {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 25px;
}
footer {
    margin-left: 2rem;
    color: hsl(210, 4%, 67%);;
}







































@media screen and (max-width:521px){
 .wrapper {
    background-image: linear-gradient(to bottom right, white, hsl(210, 4%, 67%));
    background-repeat: no-repeat;
    height: fit-content;
}

 .info {
     flex-direction: column;
 }   
 .line{
     display: none;
 }
 .secondhalf {
    margin-left:0;
}
    
}