@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=STIX+Two+Text:wght@700&family=Space+Grotesk:wght@700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'STIX Two Text', serif;
}

.wrapper {
    background-image: linear-gradient(to bottom right, white, #87ceeb);
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

#zuri {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 20px;
}
header {
    position: relative;
}

#hng {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-top: 20px;
}

#i4g {
    width: 40px;
    height: 40px;
    margin-left: 2px;
    margin-top: 20px;
}

#link {
    position: absolute;
    right: 2.5rem;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #696969;
    font-size: 30px;
}
span, p, li {
  font-family: 'STIX Two Text', serif;
}
.imgProfile {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

img {
    width:4.5rem;
    height:4.5rem;
    border-radius: 50%;
}
#name {
    margin-top: 1rem;
    color: #800000;
}

#role {
    margin-top: 0.5rem;
     color: #696969;
}

.info {
    display:flex;
    margin-top: 2.5rem;
    min-width: 3rem;

}

.line {
    border: solid 1px hsl(210, 4%, 67%);
}
.firsthalf {
    min-width: 4rem;
    display: flex;
    flex-direction: column;
}
.secondhalf {
    display: flex;
    flex-direction: column;
    margin-left:30px;
}
ul {
    list-style-type: none;
}
#tel {
    text-decoration: none;
    color:  #800000;
}

.profile {
    max-width: 14rem;
    min-width: 2rem;
}
.infoHead {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 25px;
}
footer {
    position: absolute;
    right: 1rem;
    bottom: 1rem;

}







































@media screen and (max-width:521px ){
 .wrapper {
    height: fit-content;
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
}

 .info {
     flex-direction: column;
 }   
 .line{
     display: none;
 }
 .secondhalf {
    margin-left:0;
}
#zuri {
    margin-left:0;
}
#link {
    text-align: center;
}
footer {
    bottom: 0;
}
    
}

